@font-face {
  font-family: roboto-200;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-ExtraLight.ttf);
}

@font-face {
  font-family: roboto-300;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-Light.ttf);
}

@font-face {
  font-family: roboto-400;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: roboto-500;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-Medium.ttf);
}

@font-face {
  font-family: roboto-600;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-SemiBold.ttf);
}

@font-face {
  font-family: roboto-700;
  src: url(../../assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf);
}
