.footer {
  padding: 26px 0px 50px;
  &__wrapper {
    max-width: 980px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__icon {
    opacity: 0.9;
    transition: all 100ms;
    &:hover {
      opacity: 1;
      font-size: 17px;
    }
  }
}
